/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  cursor:pointer;
}

body {
	font-family: ryo-gothic-plusn, "Helvetica", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "a-otf-midashi-go-mb31-pr6n", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

	text-align: center;
	color: #0a0e1f;
	background-color: #fff;
	font-feature-settings: "palt";
}

html{
	/* font: normal 16px sans-serif; */
	color: #555;
	font-size: calc(1.25vw + 10px);
	scroll-behavior: smooth;
}

@media(max-width: 320px) {
	html{
		font-size: 100%;
	}
}
@media(min-width: 961px) {
	html{
		font-size: 120%;
	}
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

li {
	list-style: none;
}

h4 span{
	border-bottom: solid 4px #ffdc00;
}

a.btn{
	color: #000000;
	border-radius: 1em;
	border: solid 0.3rem #000;
	text-transform: uppercase;
	background-color: #ffdc00;
	font-weight: 800;
	text-align: center;
	font-size: 2em;
	padding: 0.8rem 4rem;
	-webkit-transition: all .3s;
  transition: all .3s;
}

a.btn:hover{
	background-color: #FFFFFF;
}

@media screen and (max-width: 900px){
	a.btn{
		color: #000000;
		border-radius: 1em;
		border: solid 0.3rem #000;
		text-transform: uppercase;
		background-color: #ffdc00;
		font-weight: 800;
		text-align: center;
		font-size: 1.2em;
		padding: 0.8em 2em;
		-webkit-transition: all .3s;
  	transition: all .3s;
	}
}

hr{
	width: 150px;
	height: 2px;
	background-color: #ffdc00;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 2em 1em;
}
section.hero{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 125px 0px;
}

@media (max-width: 1000px){

	section{
		padding: 2em 1em;
	}
	section.hero{
		padding: 2em 0;
	}

}

@media (max-width: 600px){

	section{
		padding: 2em 1em;
	}
	section.hero{
		padding: 2em 0;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 35px;
	text-align: center;
	padding-bottom: 2px;
	letter-spacing: 0.15em;
}
@media screen and (max-width: 900px){
	section h3.title {
		font-size: 1.2em;
		font-weight: bold;
	}
}
section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 5px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.margin-btm {
	margin-bottom: 1.3em;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.notes{
	font-size: 0.70em;
	margin-top: auto;
}

/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 35px 100px 0;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}



/*----------------
 	Hero Section
----------------*/

.hero{
	position: relative;
	justify-content: center;
	min-height: 60vh;
	color: #000000;
	text-align: center;
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background:linear-gradient(90deg,#ffdc00 0%,#ffdc00 50%,#004884 50%,#004884 100%);
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:linear-gradient(90deg,#ffdc00 0%,#ffdc00 50%,#004884 50%,#004884 100%);
	opacity: 0.75;
}

.hero h1{
	font-size: 3em;
	font-weight: bold;
	margin-bottom: 15px;
}

.hero h3{
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 40px;
}

@media (max-width: 800px){

	.hero{
		min-height: 60vh;
	}

	.hero h1{
		font-size: 2.5em;
	}

	.hero h3{
		font-size: 1.5em;
	}

	.hero a.btn{
		padding: 15px 40px;
	}
	
	.hero span{
		display: inline-block;
	}

}

div.img-box2 {
	flex-basis: 50%;
	text-align: center;
	margin: 0em;
}

/*--------------------
 	Our Work Section
---------------------*/

.our-work{
	background-color: #fff3b8;
	margin: 1em 1em 0em 1em;
}

.our-work .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.our-work .grid li.small{
	flex-basis: 40%;
}

.our-work .grid li.large{
	flex-basis: 60%;
}


@media (max-width: 1000px){

	.our-work .grid li.small,
	.our-work .grid li.large{
		flex-basis: 100%;
	}

}



/*----------------------
 	Features Section
----------------------*/

.features{
	background-color: #fff3b8;
	margin: 1em 1em 0em 1em;
}

.features .grid li{
	padding: 30px 30px;
	margin: 0px 5px;
	flex-basis: 30%;
	text-align: center;
	background-color: #ffffff;
}

.features .grid li i{
		font-size: 50px;
		color: #ffdc00;
		margin-bottom: 25px;
}

.features .grid li img{
	width: 100%;
}

@media screen and (max-width: 900px){
	.features .grid li img{
		width: 70%;
	}
}

.features .grid li h4{
	color: #555;
		font-size: 20px;
		margin-bottom: 25px;
}

.features .grid li p{
		margin: 0;
}

.linkbtn {
	padding: 18px 42px;
	margin-top: 10%;
	font-size: 1.3rem;
}

@media (max-width: 1000px){

	.features .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.features .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.features .grid li{
		flex-basis: 100%;
	}

}

.features img{
	max-width: 300px;
}

/*--------------------
 	Reviews Section
--------------------*/

.reviews{
	background-color: #fff3b8;
	margin: 1em 1em 0em 1em;
}
div.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.reviews div.contents-box2 {
	flex-basis: 45%;
	text-align: left;
	margin: 1em;
}
.reviews div.contents-box3 {
	flex-basis: 31%;
	text-align: center;
	margin: 0.5em;
	flex-direction: column;
	display: flex;
}

.reviews div.img-box2 {
	flex-basis: 45%;
	text-align: center;
	margin: 0em 0em 0em 0em;
}

.img-box2 img{
	width: 100%;
}

.contents-box3 img{
	width: 100%;
	height: 100%;
}

.reviews div.full-box {
	flex-basis: 100%;
	text-align: center;
	padding-top: 5em;
}

.reviews div.link-box2 {
	flex-basis: 45%;
	text-align: center;
	margin: 1em;
}
.reviews a{
  position: relative;
  display: inline-block;
	transition: .3s;
	color: #004884;
	font-weight: bold;
}

.reviews a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #004884;
  transition: .3s;
  transform: translateX(-50%);
}

.reviews a:hover::after{
  width: 100%;
}

@media (max-width: 1000px){

	.reviews div.contents-box2,
	.reviews div.contents-box3,
	.reviews div.link-box2,
	.reviews div.img-box2{
		flex-basis: 100%;
	}

}

/*---------------------
 	Contact Section
---------------------*/
@media (max-width: 600px){

	.contact{
		padding: 10px 5px;
		background-color: #fff3b8;
		margin: 1em 1em 0em 1em;
	}

}
.contact{
	background-color: #fff3b8;
	margin: 1em 1em 0em 1em;
}

.contact .grid li{
	padding: 30px 30px;
	margin: 0px 5px;
	flex-basis: 45%;
	text-align: center;
	background-color: #ffffff;
}

.contact .grid li i{
		font-size: 50px;
		color: #ffdc00;
		margin-bottom: 25px;
}

.contact .grid li img{
	width: 100%;
}

/* @media (max-width: 1000px){

	.contact .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}
	.contact .grid li img{
		width: 70%;
	}

} */

.contact form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 800px;
	width: 80%;
}

.contact form input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
}

.contact form .btn{
	padding: 18px 42px;
}


@media (max-width: 800px){

	.contact form input{
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}

}




/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 30px 0;
	margin-top: 20px;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 5px 15px;
	}

}

/* -- fullcalendar -- */
#loading {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
}

#calendar {
	max-width: 900px;
	margin: 0 auto;
}

.fc table{
	font-size: 0.5em !important;
}

/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}


/* -- google calendar -- */
iframe {
	width: 80vw;
	height: 80vw;
}




/* -- svg logo -- */
.logo {
		position: fixed;
		top: 1px;
		left: 22px;
		z-index: 1000;
}
@media screen and (max-width: 900px){
	.logo {
		top: 8px;
		left: 8px;
	}
}

.logo a {
		display: block;
		height: 100px;
		width:153px;
		background: url(../img/logo.png) no-repeat;
		background-size: contain;
		font-size: 0;
}

@media screen and (max-width: 900px){
	.logo a {
			height: 40px;
	}
}

/* -- fc-button -- */
.fc-button {
	background-color: #ffdc00 !important;
	border-color: #ffdc00 !important;
}

@media screen and (max-width: 900px){
	.fc-button {
		padding: 0.15em 0.35em !important;
		font-size: 0.8em !important;
	}
}

span.under {
	/* text-decoration:underline;
	text-decoration-color:#ffdc00; */
	text-decoration: none;
	border-bottom: solid 0.1em #ffdc00;
	margin-top: 0.3em;
	line-height: 1.3em;
}

span.line1 {
	display: inline-block;
}




/* -- header hamburgers -- */

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100px;
	padding-top: 0.5em;

	z-index: 999;
}
.header .g_nav {
	position: fixed;
	right: -320px;
	top: 0;
	width: 300px;
	height: 100vh;
	padding-top: 55px;
	background-color: #fff ;
	transition: all 0.5s;
	z-index: 200;
	opacity: 0.9;
}
.header .g_nav .g_nav_list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.header .g_nav .g_nav_list .g_nav_item {
	text-align: left;
	padding: 0 14px;
}
.header .g_nav .g_nav_list .g_nav_item a {
	display: block;
	padding: 1em 0;
	padding-left: 0.5em;
	border-bottom: 1px solid #eee;
	text-decoration: none;
	color: #000;
	font-size: 16px;
}
.header .g_nav .g_nav_list .g_nav_item a:hover {
	background-color: #eee;
}
.header .g_nav .g_nav_list .g_nav_item a span {
	display: block;
	font-size: 10px;
	color: #000;
}
.header .h_menu {
	position: absolute;
	right: 20px;
	top: 4px;
	width: 30px;
	height: 40px;
	cursor: pointer;
	z-index: 300;
}
.header .h_menu p {
	font-size: 13px;
	text-align: center;
	padding-top: 20px;
	color: #ffffff;
}
.header .h_menu .h_menu_line {
	position: absolute;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #080808;
	transition: all 0.6s;
}
.header .h_menu .h_menu_line_1 {
	top: 10px;
}
.header .h_menu .h_menu_line_2 {
	top: 18px;
}
.header .h_menu .h_menu_line_3 {
	top: 26px;
}
.header .h_menu .menu_open .global-nav {
	right: 0;
}
.header .h_menu .menu_open .black-bg {
	opacity: 0.8;
	visibility: visible;
}
.header .h_menu .menu_open .h_menu_line_1 {
	transform: rotate(45deg);
	top: 20px;
}
.header .h_menu .menu_open .h_menu_line_2 {
	width: 0;
	left: 50%;
}
.header .h_menu .menu_open .h_menu_line_3 {
	transform: rotate(-45deg);
	top: 20px;
}
.header .bg_open {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background-color: #000;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
	cursor: pointer;
}
.header hgroup h1 {
	color: #ffffff;
	text-align: center;
	margin: 0;
}

.menu_open .g_nav {
	right: 0;
}
.menu_open .bg_open {
	opacity: 0.6;
	visibility: visible;
}
.menu_open .h_menu_line_1 {
	transform: rotate(45deg) !important;
	top: 20px !important;
	background-color: #000000 !important;
}
.menu_open .h_menu_line_2 {
	width: 0 !important;
	left: 50% !important;
	background-color: #000000 !important;
}
.menu_open .h_menu_line_3 {
	transform: rotate(-45deg) !important;
	top: 20px !important;
	background-color: #000000 !important;
}
.menu_open p {
	color: #000000 !important;
}

@media screen and (max-width: 900px){
	.pc_nav {
		display: none;
	}
}
@media screen and (min-width: 901px){
	.h_menu {
		display: none;
	}
}


/* -- diagonal -- */

.diagonal-box {
	transform: skewY(-4deg);
}

.content {
	max-width: 50em;
	margin: 0 auto;
	transform: skewY(-4deg);
}




/* -- animation -- */

/* .sample {
  overflow: hidden;
  position: relative;
}

/* 1 つ目のサンプル 
.sample-one.sample-animation img {
  animation: sample-one 1.2s cubic-bezier(.4, 0, .2, 1);
}

@keyframes sample-one {
  0% {
    opacity: 0;
    transform: scale(1.2) translateY(24px);
  }
  
  32% {
    opacity: 0;
    transform: scale(1.2) translateY(24px);
  }
} */
.sample {
  transition: opacity 1s, visibility 0s ease;
	transition-duration: 2s;
  opacity: 0;
  visibility: hidden;
}

/* 1 つ目のサンプル */
.sample-one.sample-animation {
  transition-delay: 0s;
  opacity: 1;
  visibility: visible;
}


/* 2 つ目のサンプル */
.sample-second.sample-animation {
  animation: sample-second-img 2s cubic-bezier(.4, 0, .2, 1);
}

.sample-second.sample-animation:before {
  animation: sample-second-before 2s cubic-bezier(.4, 0, .2, 1) forwards;
  background: #004884;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@keyframes sample-second-img {
  0% {
    opacity: 0;
  }
}

@keyframes sample-second-before {
  100% {
    transform: translateX(100%);
  }
}

/* 3 つ目のサンプル */
.sample-third.sample-animation:before,
.sample-third.sample-animation:after {
  animation: 2s cubic-bezier(.4, 0, .2, 1) forwards;
  background: #fff;
  bottom: 0;
  content: '';
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 1;
}

.sample-third.sample-animation:before {
  animation-name: sample-third-before;
  left: 0;
  right: 50%;
}

.sample-third.sample-animation:after {
  animation-name: sample-third-after;
  left: 50%;
  right: 0;
}

@keyframes sample-third-before {
  100% {
    transform: translateY(100%);
  }
}

@keyframes sample-third-after {
  100% {
    transform: translateY(-100%);
  }
}



@media screen and (min-width: 901px){
	header.scrolled {
	  background: #ffdc00;
	}
}
